/*
 * @bot-written
 * 
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 * 
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */
/* --------------------------------
Compile all of harmony
-------------------------------- */


@charset "UTF-8";
//Importing variables from AngularBot
// Importing animations
@import "animations/animatelibrary.scss";
@import "animations/motion.scss";
// Abstract Imports
@import 'abstracts/import-abstracts.scss';
// Elements - These are modules of each individual element
@import "elements/import-elements.scss";
// Components - These are the components snippets
@import "components/import-components.scss";
// Behaviours - These are the behaviours snippets
@import "behaviours/import-behaviours.scss";
// Pages - These are the pages snippets
@import "pages/import-pages.scss";
